
<div class="body mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 border border-secondary">
        <div class="row border border-secondary">
          <div class="col-4 text-center">
            <%= image_tag "betty.jpg", class: "avatar-bordered" %>
          </div>
          <div class="col-4">
            Betty Abiliou<br/>
            CEO Innov'Akademy<br/>
            <a
              href="mailto:betty@innovakademy.com?subject=%5BContact%5D%20Demande%20de%20renseignement"
              target="_blank"
            >
              betty@innovakademy.com
            </a>
          </div>
        </div>
        <div class="row border border-secondary">
          <div class="col-12 text-center">
            <%= image_tag "chantier.jpg", class: "avatar" %>
            <span style="font-size: 24px;"><bold>Site en construction</bold></span>
            <%= image_tag "chantier.jpg", class: "avatar" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>